# Ignore everything by default
*

# Allow specific file types
!.gitignore
!*.ipynb
!*.config
!*.py
!*.R
!*.r
!*.sh
!*.Rmd
!*.rmd

!*.lock

# Allow directories (required to traverse folders and add files selectively)
!*/

# Ignore all .ipynb_checkpoints folders
.ipynb_checkpoints/



# ignore powerpoints
*.pptx

*.txt

# Ignore specific folders
r_outputs/
r_objects/
python_objects/
raw_data/
temp/
renv/
